$("#favorite_<%= @post.id %>").html("<%= j(render partial: 'favorites/favorites', locals: { post: @post }) %>");

<% flash.each do |type, message| %>
  $("#notice").remove();
  $("header").after('<p id="notice" class="alert alert-warning"><%= message %></p>');
<% end %>
