<div class="col-lg-10 p-0">
    <h4 class="mb-0 heading">ジャンル新規作成</h4>
    
    <hr class="mb-5">
    
    <%= form_with model: @genre, url: dashboard_genres_path, method: :post, local: true do |f| %>
    
      <%= render partial: "genre_form", locals: { f: f } %>
      
      <div class="form-group mt-4 row justify-content-between px-3">
         <%= f.submit "新規作成", class: "btn btn-danger col-lg-5 my-2" %>
         <%= link_to "キャンセル", dashboard_genres_path, class: "btn btn-light col-lg-5 my-2" %>
      </div>
    <% end %>
</div>


