<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mb-5">
            <h4 class="my-3 heading">My Gourmetとは</h4>
            
            <hr class="mb-5">
            
            <h5 class="mb-4 font-weight-bold heading">自分だけの"食べたい物リスト"を作れるグルメ記事投稿アプリ</h5>
            
            <p>
                My Gourmetでは他のユーザーとグルメ情報を共有し合うことで、あなたがこれまで知らなかったグルメと出会うことができ、簡単に食べたい物リストを作成することもできます。<br>
                使い方はとても簡単！
                
                <ol class="about_app my-5">
                    <li>
                        他のユーザーにオススメする
                        <ul style="list-style-type: square;">
                            <li>オススメしたいグルメ写真を投稿して他のユーザーとオススメのグルメを共有しましょう！</li>
                            <li>投稿する際はお店の情報も一緒に登録しましょう！<br>※ ホットペッパーグルメに掲載されているお店であれば、アプリ内で検索することができます。</li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        食べたい物を探す
                        <ul style="list-style-type: square;">
                            <li>他のユーザーがオススメする、または食べたいと思っているグルメをチェックできます。</li>
                            <li>キーワード、ジャンル、エリアごとに投稿を検索できるので、食べたい物をエリア別に探すことができます。</li>
                            <li>投稿にお店の情報が登録されている場合はお店の情報も表示されるので、営業時間や定休日などもその場でチェックでき、URLからそのまま予約することも可能です。</li>
                            <li>投稿に関する詳細な情報が知りたい場合は、投稿にコメントしてみましょう！</li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        食べたい物リストを作成する
                        <ul style="list-style-type: square;">
                            <li>
                                他のユーザーが投稿するグルメ写真を見て「食べたい!」と思ったら <i class="far fa-heart"></i> を押すだけ！<br>
                                ※ もう一度 <i class="fas fa-heart favorite"></i> を押せばリストから外す事ができます。
                            </li>
                            <li>
                                他のユーザーの投稿以外に食べたい物がある場合はその食べたい物に関する記事を投稿しましょう！<br>
                                ※ 記事作成時に「食べたい！」を選択するだけで自動的にリストに追加されます。
                            </li>
                        </ul>
                    </li>
                </ol>
                さあ、グルメ情報を共有し合い、あなただけの"食べたい物リストを作りましょう！
            </p>
        </div>
    </div>
</div>