<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mb-5">
            <h4 class="my-3 heading">プライバシーポリシー</h4>
            
            <hr class="mb-5">
            
            <%= render "pages/privacy_policy_text" %>
                
            <p class="d-flex justify-content-end">以上</p>
        </div>
    </div>
</div>