<img src="images/variousfood.jpg" class="w-100">


<div id="wrapper" class="container">
  <div class="row">
    
    <main id="posts" class="col-sm-7 offset-1 ml-auto">
      
      <div class="card article mb-4">
        <article class="d-flex">
          <figure class="col-5 m-0 p-0">
            <img src="/images/pizza.jpg" alt="..." class="img-fluid">
          </figure>
          <div class="article-info col-7 pt-3 d-flex flex-column">
            <div class="food-info">
              <h4 class="title mb-0">野菜を使ったマルゲリータi</h4>
              <small class="jenre mt-3">イタリアン</small>
              <p class="storename mt-2 mb-1 text-nowrap text-truncate">宮城県仙台市宮城野区榴岡１丁目1番1号　ＪＲ仙台イーストゲートビル　2F</p>
            </div>
            
            <div class="align-items-end">
              <hr class="my-1">
              <span class="d-flex mt-2 mb-0 ">
                <p class="text-muted mb-1">こば - 2020/06/12</p>
                <p class="ml-auto mr-3 mb-1"><i class="far fa-heart"></i>&ensp;12</p>
              </span>
            </div>  
              
              
          </div>
        </article>
      </div>
      
      <div class="card article mb-4">
        <article class="d-flex">
          <figure class="col-5 m-0 p-0">
            <img src="/images/pizza.jpg" alt="..." class="img-fluid">
          </figure>
          <div class="article-info col-7">
            <div class="pt-3">
              <h4 class="title mb-0 text-nowrap text-truncate">マルゲリータいいいいいいいいいいいいいい</h4>
              <small class="jenre mt-3">イタリアン</small>
              <p class="storename mt-2 text-nowrap text-truncate">宮城県仙台市宮城野区榴岡１丁目1番1号　ＪＲ仙台イーストゲートビル　2F</p>
              <hr class="m-2">
              <span class="post-info d-flex">
                <p class="text-muted">こば - 2020/06/12</p>
                <p class="ml-auto mr-3"><i class="far fa-heart"></i>&ensp;12</p>
              </span>
            </div>
          </div>
        </article>
      </div>
      
      <div class="card article mb-4">
        <article class="d-flex">
          <figure class="col-5 m-0 p-0">
            <img src="/images/pizza.jpg" alt="..." class="img-fluid">
          </figure>
          <div class="article-info col-7">
            <div class="pt-3">
              <h4 class="title mb-0 text-nowrap text-truncate">マルゲリータいいいいいいいいいいいいいい</h4>
              <small class="jenre mt-3">イタリアン</small>
              <p class="storename mt-2 text-nowrap text-truncate">宮城県仙台市宮城野区榴岡１丁目1番1号　ＪＲ仙台イーストゲートビル　2F</p>
              <hr class="m-2">
              <span class="d-flex">
                <p class="text-muted">こば - 2020/06/12</p>
                <p class="ml-auto mr-3"><i class="far fa-heart"></i>&ensp;12</p>
              </span>
            </div>
          </div>
        </article>
      </div>
      
      <div class="card article mb-4">
        <article class="d-flex">
          <figure class="col-5 m-0 p-0">
            <img src="/images/pizza.jpg" alt="..." class="img-fluid">
          </figure>
          <div class="article-info col-7">
            <div class="pt-3">
              <h4 class="title mb-0 text-nowrap text-truncate">マルゲリータいいいいいいいいいいいいいい</h4>
              <small class="jenre mt-3">イタリアン</small>
              <p class="storename mt-2 text-nowrap text-truncate">宮城県仙台市宮城野区榴岡１丁目1番1号　ＪＲ仙台イーストゲートビル　2F</p>
              <hr class="m-2">
              <span class="d-flex">
                <p class="text-muted">こば - 2020/06/12</p>
                <p class="ml-auto mr-3"><i class="far fa-heart"></i>&ensp;12</p>
              </span>
            </div>
          </div>
        </article>
      </div>
      
      <div class="card article mb-4">
        <article class="d-flex">
          <figure class="col-5 m-0 p-0">
            <img src="/images/pizza.jpg" alt="..." class="img-fluid">
          </figure>
          <div class="article-info col-7">
            <div class="pt-3">
              <h4 class="title mb-0 text-nowrap text-truncate">マルゲリータいいいいいいいいいいいいいい</h4>
              <small class="jenre mt-3">イタリアン</small>
              <p class="storename mt-2 text-nowrap text-truncate">宮城県仙台市宮城野区榴岡１丁目1番1号　ＪＲ仙台イーストゲートビル　2F</p>
              <hr class="m-2">
              <span class="d-flex">
                <p class="text-muted">こば - 2020/06/12</p>
                <p class="ml-auto mr-3"><i class="far fa-heart"></i>&ensp;12</p>
              </span>
            </div>
          </div>
        </article>
      </div>
      
      <div class="card article mb-4">
        <article class="d-flex">
          <figure class="col-5 m-0 p-0">
            <img src="/images/pizza.jpg" alt="..." class="img-fluid">
          </figure>
          <div class="article-info col-7">
            <div class="pt-3">
              <h4 class="title mb-0 text-nowrap text-truncate">マルゲリータいいいいいいいいいいいいいい</h4>
              <small class="jenre mt-3">イタリアン</small>
              <p class="storename mt-2 text-nowrap text-truncate">宮城県仙台市宮城野区榴岡１丁目1番1号　ＪＲ仙台イーストゲートビル　2F</p>
              <hr class="m-2">
              <span class="d-flex">
                <p class="text-muted">こば - 2020/06/12</p>
                <p class="ml-auto mr-3"><i class="far fa-heart"></i>&ensp;12</p>
              </span>
            </div>
          </div>
        </article>
      </div>
      
      <div class="card article mb-4">
        <article class="d-flex">
          <figure class="col-5 m-0 p-0">
            <img src="/images/pizza.jpg" alt="..." class="img-fluid">
          </figure>
          <div class="article-info col-7">
            <div class="pt-3">
              <h4 class="title mb-0 text-nowrap text-truncate">マルゲリータいいいいいいいいいいいいいい</h4>
              <small class="jenre mt-3">イタリアン</small>
              <p class="storename mt-2 text-nowrap text-truncate">宮城県仙台市宮城野区榴岡１丁目1番1号　ＪＲ仙台イーストゲートビル　2F</p>
              <hr class="m-2">
              <span class="d-flex">
                <p class="text-muted">こば - 2020/06/12</p>
                <p class="ml-auto mr-3"><i class="far fa-heart"></i>&ensp;12</p>
              </span>
            </div>
          </div>
        </article>
      </div>
      
      <div class="card article mb-4">
        <article class="d-flex">
          <figure class="col-5 m-0 p-0">
            <img src="/images/pizza.jpg" alt="..." class="img-fluid">
          </figure>
          <div class="article-info col-7">
            <div class="pt-3">
              <h4 class="title mb-0 text-nowrap text-truncate">マルゲリータいいいいいいいいいいいいいい</h4>
              <small class="jenre mt-3">イタリアン</small>
              <p class="storename mt-2 text-nowrap text-truncate">宮城県仙台市宮城野区榴岡１丁目1番1号　ＪＲ仙台イーストゲートビル　2F</p>
              <hr class="m-2">
              <span class="d-flex">
                <p class="text-muted">こば - 2020/06/12</p>
                <p class="ml-auto mr-3"><i class="far fa-heart"></i>&ensp;12</p>
              </span>
            </div>
          </div>
        </article>
      </div>
      
      
      
      
    </main>
    
    <aside id="side" class="col-sm-4">
      <div class="">
          <h4><i class="fas fa-crown"></i>&ensp;食べたい数ランキング</h4>
          <ol>
            <li class="ranking">マルゲリータ</li>
            <li class="ranking">マルゲリータ</li>
            <li class="ranking">マルゲリータ</li>
          </ol>
      </div>
      
      <hr>
      
      <div>
        <h4><i class="fas fa-search"></i>&ensp;投稿検索</h4>
      </div>
    </aside>
  </div>
</div>

