<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 mt-5">
            <!--料理の情報部分-->
            <div class="row">
                <figure class="col-6">
                   <img src="/images/pizza.jpg" alt="..." class="img-fluid">
                </figure>
                <div class="article-info col-6 flex-column">
                    <small class="">こばが「食べたい！」</small>
                    <h4>マルゲリータ</h4>
                    <small class="genre">イタリアン</small>
                    <div class="article-content">
                        <p>チーズが濃厚でとても美味しい。チーズ好きにはたまらないと思う！絶対また行きたい！</p>
                    </div>
                    <span class="sub-article-info d-flex">
                        <p class="text-muted mb-1">2020/06/12</p>
                        <p class="ml-auto mr-3 mb-1"><i class="far fa-heart"></i>&ensp;12</p>
                    </span>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <!--コメント部分-->
                <div class=""
            </div>
            
            
            
            
            
            
        </div>
    </div>
</div>
