.sidebar-major-category {
    font-weight: bold;
}

.table-x {
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.table-data {
    height: 97.5px;
    overflow-y: scroll;
    display: flex;
    // align-items: center;
}

.table-data-middle {
    height: 97.5px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
}

.img-data {
    width: 146.25px;
}

