body {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'Osaka','Arial',sans-serif;
}

.link {
    text-decoration: none;
    color: black;
}

.edit-label {
  cursor: pointer;
  cursor: hand;
}

.require-input {
  border-radius: 3px;
  background-color: #e2001b;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
