body {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'Osaka','Arial',sans-serif;
}

.link {
    text-decoration: none;
    color: black;
}

.edit-label {
  cursor: pointer;
  cursor: hand;
}