
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
    margin: 36px auto 80px auto;
}

#side {
    margin: 0 auto 80px auto;
}


.ranking {
    font-size: 1.5rem;
    line-height: 120%;
}

.ranking-list {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

#post {
    padding-right: 0;
}

.article {
    margin-bottom: 1.0rem;
}

.figure {
    width: 200%;
    height: 200%;
}

.food-info {
    height: 90%;
    min-height: 8vw;
}

// .img-box {
//     width: 100%;
//     // padding-bottom: 100%;
//     // height: 0;
//     // position: relative;
// }

// .preview-img {
//     width: 100%;
//     height: 15vw;
//     object-fit: cover;
//     // position: absolute;
// }

.title {
    font-size: 1.8rem;
}

.storename {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
 
.article-info {
    padding-top: 0.6rem;
    padding-right: 0;

}

.genre {
    display: inline-flex;
    border-radius: 3px;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    margin-bottom:  0.35vw;
    background-color: #dcdcdc;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.address {
    font-size: 1rem;
    margin-top: 0.2vw;
    margin-bottom: 0;
}

.sub-article-info {
    height: 10%;
    // margin-top: 0.7rem;
    marginbottom: 0;
}    

.article-content {
    min-height: 8vw;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
}

.h-restaurant-image {
    width: 130px;
    height: 130px;
}

.h-title {
        margin-top: 0.3rem;
}
    
.h-genre {
    display: inline-flex;
    border-radius: 3px;
    padding: 0 0.2rem 0 0.2rem;
    margin-top: 0.5rem;
    background-color: #dcdcdc;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.h-address {
    font-size: 17px;
    margin-top: 1rem;
}

.paginateButton {
    border: none;
    color: #696969;
}

.paginateButton.active {
    background: #007bff;
    border-radius: 15px;
    color: #fff;
}

.paginateButton:hover {
    background: #d3d3d3;
    border-radius: 18px;
}


@media screen and (max-width: 599px) {
    #main {
        margin: 20px auto 40px auto;
        width: 95%;
    }
    
    #side {
        margin: 20px auto 80px auto;
    }
    
    .ranking {
        font-size: 1.2rem;
    }
    
    .ranking-list {
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }
    
    .post-search {
        font-size: 1.2rem;
    }
    
    .article {
        margin-bottom: 0.5rem;
    }
    
    .food-img {
        width: 30vw;
    }
    
    .title {
        font-size: 5vw;
        margin-top: 0.4rem;
    }
    
    .genre {
        display: inline-flex;
        border-radius: 3px;
        padding: 0 0.2rem 0 0.2rem;
        margin: 0;
        background-color: #dcdcdc;
        font-size: 3.5vw;
        font-weight: 500;
        color: black;
    }
    
    .address {
        font-size: 3.5vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .article-info {
        padding-top: 0;
        width: 100%;
    }
    
    .food-info {
        font-size: 10px;
    }
    
    .sub-article-info {
        font-size: 4vw;
        marginbottom: 0;
    }
    
    table {
        width: 100%;
        table-layout: fixed;
        word-break: break-all;
        word-wrap: break-all;
    }
    
    .favorite {
        // font-size: 0.5rem;
    }
    
    .available_h_restaurants {
        font-size: 1rem;
    }
    
    .h-restaurant-image {
    width: 20vw;
    height: 20vw;
    }
    
    .h-title {
        font-size: 4vw;
        margin-top: 0.3rem;
    }
    
    .h-genre {
        display: inline-flex;
        border-radius: 3px;
        padding: 0 0.2rem 0 0.2rem;
        margin-top: 0.5rem;
        background-color: #dcdcdc;
        font-size: 2.5vw;
        font-weight: 500;
        color: black;
    }
    
    .h-address {
        font-size: 2.5vw;
        margin-top: 0.7rem;
        margin-bottom: 0;
    }
}