<footer class="">
    <div class="d-flex justify-content-around row">
        <%= link_to "My Gourmetとは", "#", class: "col-sm text-center pt-3" %>
        <%= link_to "お問い合せ", "#", class: "col-sm text-center pt-3" %>
        <%= link_to "利用規約", "#", class: "col-sm text-center pt-3" %>
        <%= link_to "プライバシーポリシー", "#", class: "col-sm text-center pt-3" %>
        
        <!--<a class="text-center"></a>-->
        <!--<a class="text-center">お問い合わせ</a>-->
        <!--<a class="text-center">利用規約</a>-->
        <!--<a class="text-center">プライバシーポリシー</a>-->
    </div>
    <div class="copyright d-flex justify-content-center py-3 w-100">
      <a>Copyright © 2021 My Gourmet All Rights Reserved.</a>
    </div>
    
</footer>




<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--    <div class="navbar-nav">-->
<!--      <a class="nav-item nav-link active" href="#">My Gourmetとは</a>-->
<!--      <a class="nav-item nav-link" href="#">お問い合わせ</a>-->
<!--      <a class="nav-item nav-link" href="#">利用規約</a>-->
<!--      <a class="nav-item nav-link disabled" href="#">プライバシーポリシー</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->