<footer class="">
    <div class="row d-flex">
        <a class="col-sm-3 text-center">My Gourmetとは</a>
        <a class="col-sm-3 text-center">お問い合わせ</a>
        <a class="col-sm-3 text-center">利用規約</a>
        <a class="col-sm-3 text-center">プライバシーポリシー</a>
    </div>
    
</footer>




<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--    <div class="navbar-nav">-->
<!--      <a class="nav-item nav-link active" href="#">My Gourmetとは</a>-->
<!--      <a class="nav-item nav-link" href="#">お問い合わせ</a>-->
<!--      <a class="nav-item nav-link" href="#">利用規約</a>-->
<!--      <a class="nav-item nav-link disabled" href="#">プライバシーポリシー</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->