<footer class="w-100">
    <div class="d-flex justify-content-around flex-column flex-sm-row">
        <%= link_to "My Gourmetとは", "#", class: " link col-sm text-center pt-3 px-0" %>
        <%= link_to "お問い合せ", new_contact_path, class: "link col-sm text-center pt-3 px-0" %>
        <%= link_to "利用規約", "#", class: "link col-sm text-center pt-3 px-0" %>
        <%= link_to "プライバシーポリシー", "#", class: "link col-sm text-center pt-3 px-0" %>
    </div>
    <div class="copyright d-flex justify-content-center py-3 w-100">
      <a>Copyright © 2021 My Gourmet All Rights Reserved.</a>
    </div>
</footer>