<!--アカウント作成時に送信するメールアドレス認証のためのメールの本文-->
<hr>

<p>My Gourmet 会員仮登録完了のお知らせ</p>

<hr>

<p>この度は、My Gourmetへ仮登録いただき、ありがとうございます。</p>

<p>会員登録の手続きはまだ完了しておりません。</p>

<p>お手数ですが、下記より、本登録をお願いいたします。</p><br>



<p><%= link_to '本登録をする', controller: 'users/confirmations', action: 'create', confirmation_token: @token %></p><br>



<p>※本メールに心当たりが無い場合は、お手数ですが、破棄していただきますよう、お願い申し上げます。</p>

<hr>

<p>My Gourmet</p>