<!--パスワードリセット時に送信するメールの本文-->
<hr>

<p>My Gourmet パスワード再設定のお知らせ</p>

<hr>

<p><%= @resource.name %>様</p>

<p>パスワード再設定のリクエストを受け付けました。</p>

<p>パスワードを再設定するには、下記より新しいパスワードをご登録ください。</p><br>



<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p><br>



<p>※本メールに心当たりが無い場合は、お手数ですが、破棄していただきますよう、お願い申し上げます。</p>

<hr>

<p>My Gourmet</p>