<!--会員登録後に本登録案内メールの送信完了を知らせる画面-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 ">
      <h4 class="mt-5 mb-3 text-center heading">会員登録ありがとうございます！</h4>
      
      <p class="text-center">現在、仮会員の状態です。</p>
      
      <p class="text-center">ただいま、ご入力頂いたメールアドレス宛に、ご本人様確認用メールをお送りしました。</p>
      
      <p class="text-center">メール本文内のリンクをクリックすると、本登録が完了となります。</p>
      
      <div class="mt-5">
          <%= link_to "ログイン画面へ", login_path, class: "btn btn-danger w-100" %>
      </div>
    </div>
  </div>
</div>

